{{!-- This is the post loop - each post will be output using this markup --}}
<div class="posts"> 

{{#foreach posts}}
<article class="{{post_class}}">
    <header class="post-header">
        <h3 class="post-title"><a href="{{url}}">{{title}}</a></h3>
    </header>
    <footer class="main image">
        <a href="{{url}}" class="image"><img src="{{img_url feature_image}}" alt="" /></a>
    </footer>
    <section class="post-excerpt">
        <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>
    <ul class="actions">
            <li><a href="{{url}}" class="button">Sigue leyendo</a></li>
        </ul>
</article>
{{/foreach}}
</div>

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
