{{!< default}}

{{#contentFor "meta"}}
    <meta property="og:url" content="{{@blog.url}}" />
    <meta property="og:title" content="Mike Nieva - Profesional en Educación Tecnológica" />
    <meta property="og:site_name" content="{{@blog.title}}" />
    <meta property="og:image" content="https://i.imgur.com/JdL6F6h.jpg" />
    <meta property="og:description" content="Impulso vidas profesionales a través de Internet."/>
    <meta property="fb:profile_id" content="mikenieva" />
    <meta property="fb:admins" content="mikenieva" />
    <meta property="fb:pages" content="285521064948889" />
{{/contentFor}}

                            <!-- Banner -->
                                <section id="banner">
                                    <div class="content">
                                        <header>
                                            <h1>Mike Nieva<br /></h1>
                                            <p>Educación | Web | Marca Personal</p>
                                        </header>
                                        <br>
                                        <div id="revue-embed">
                                            <form action="https://www.getrevue.co/profile/mikenieva/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
                                                <div class="revue-form-group">
                                                    <label for="member_email">Únete a nuestras comunidades y contacta conmigo.</label>
                                                    <input class="revue-form-field" placeholder="Tu correo electrónico..." type="email" name="member[email]" id="member_email">
                                                    <br>
                                                </div>
                                                <div class="revue-form-actions">
                                                    <input type="submit" value="Suscribirme" name="member[subscribe]" id="member_submit">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <span class="image object">
                                        <img src="https://i.imgur.com/JdL6F6h.jpg" alt="" />
                                    </span>
                                </section>




                            <!-- Section -->
                                <section>
                                    <header class="major">
                                        <h2>Encuéntrame en:</h2>
                                    </header>
                                    <div class="features">
                                        <article>
                                            <span class="icon fa-users"></span>
                                            <div class="content">
                                                <h3><a target="_blank" href="http://tab.network">TAB</a></h3>
                                                <p><b>Plataforma Global de Educación Empresarial.</b>
                                                <br> 
                                                <br> 
                                                Eventos + Comunidad. Aprende ideas, técnicas y estrategias de negocios.  
                                                <br> 
                                                <br> 
                                                Únete <a href="">aquí.</a>
                                                </p>
                                                
                                            </div>
                                        </article>
                                                  <article>
                                            <span class="icon fa-tv"></span>
                                            <div class="content">
                                                <h3><a href="http://www.platzi.com" target="_blank">Platzi</a></h3>
                                                <b>Plataforma Online para Profesionales Web.</b>
                                                <br> 
                                                <br> 
                                                <p>Expertos en programación, diseño, marketing, startups, video y web.
                                                <br>
                                                <br>
                                                Conoce mi <a href="http://platzi.com/marca" target="_blank">Curso de Marca Personal.</a>

                                                </p>
                                            </div>
                                        </article>
                               
                                        <article>
                                            <span class="icon fa-pencil-square-o"></span>
                                            <div class="content">
                                                <h3><a href="http://the.mikenieva.com" target="_blank">The Mike Nieva Company</a></h3>
                                                <p><b>Crea tu marca personal desde cero.</b>
                                                <br>
                                                <br>
                                                Construimos, en comunidad, tu portafolio y reputación online. <a href="https://www.facebook.com/groups/1924159201156764/">Forma parte aquí.</a>
                                                </p>
                                            </div>
                                        </article>

                                        <article>
                                            <span class="icon fa-video-camera"></span>
                                            <div class="content">
                                                <h3>Conexión Web</h3>
                                                <b>Nuestra agencia de transmisiones en vivo para universidades y organizaciones.</b>
                                                <br>
                                                <br>
                                                Conoce uno de nuestros <a target="_blank" href="http://facebook.com/iberopueblalive">clientes.</a>
                                                <br>
                                            </div>
                                        </article>

                                    </div>
                                </section>

                            <!-- Section -->
                                <section>
                                    <header class="major">
                                        <h2>Experiencias</h2>
                                    </header>


<div class="posts">
{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<article class="{{post_class}}">
    <a href="{{url}}" class="image"><img src="{{img_url feature_image}}" alt="" /></a>
        <h3 class="post-title"><a href="{{url}}">{{title}}</a></h3>
        <p>{{excerpt words="26"}}</p>
        <ul class="actions">
            <li><a href="{{url}}" class="button">Sigue leyendo</a></li>
        </ul>
</article>
{{/foreach}}

</div>

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}